ul {
    margin: 0;
    padding: .5rem;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: transform 0.3s, text-shadow 0.3s ease-in-out;
    padding: 0.5rem;
    width: 100%;
}

/* li a.active {
    background: #333;
    color: #aaa;
    font-size: 1.2rem;
    transform: translateX(15px);
    font-weight: bolder;
    padding-left: 1rem;
} */

li a:hover {
    cursor: pointer;
    background: none;
}

li a:not(:active):hover {
    background: #333;
    color: #ccc;
}

li a.active {
    background: #333;
    color: white;
    font-weight: bold;
    transform: translateX(10px);
  }
  